.home {
    max-width: 95vw;
    margin: auto;
    
}

.home__explore {
    margin-bottom: 15px;
}

.home__swiperContainer {
    position: relative;
    max-width: 100%;
    
}

.home__mainContent {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 1cm 0;
}

.home__leftArrow, .home__rightArrow {
    position: absolute;
    font-size: 35px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: black;
    text-align: center;
    z-index: 100;
    cursor: pointer;
}

.home__leftArrow {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
.home__rightArrow {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}