@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

.home{
    max-width: 95%;
    margin:auto;
}

.showcase__image{
    width:100%;
    height:500px;
    position: relative;
}

.showcase{
   position: relative;
   display: block;
}

.showcase__container{
    position: absolute;
    display: flex;
    max-width: 100%;
    width:100%;
    top:0;
    padding:1cm;
    align-items: flex-end;
    left:0;
    color:white;
    height:100%;
    background-image:linear-gradient(transparent,rgba(14, 14, 14, 0.8),rgb(14, 14, 14));
}

.showcase__intro{
    font-size: 18px;
    position: relative;
    word-wrap: break-word;
    max-width: 50%;
}

.showcase__title{
    font-size:35px;
    color:rgb(253, 34, 34);
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;

}


@media only screen and (max-width:600px){

    .showcase__intro{
        max-width: 100%;
        top:60%;
    }
}