.netflix-logo{
    height:70px;
    width:160px;
    line-height: 1.5cm;
    margin-right:1cm;
    vertical-align: middle;
}

nav{
    display: flex;
    justify-content: space-between;
    line-height: 1cm;
    align-items: center;
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
    background-image : linear-gradient(#000,transparent); 
}

nav ul,nav ul li{
    display: inline-block;
    line-height: 1cm;
    margin:0px 5px;
    list-style-type: none;
}

nav ul li a{
    line-height: 1cm;
    text-decoration: none;
    color:rgb(201, 201, 201);
}

nav ul li a.active, nav ul li a:hover{
    color:rgb(255, 255, 255);
}

nav ul.right form input[type="text"]{
    height:1cm;
    padding:10px;
    outline:hidden;
    border:0;
    width:200px;
    background-color: rgba(255, 255, 255, 0.644);
}

nav ul.right form select{
    height:1cm;
    outline:hidden;
    border:0;
    padding:10px;
    background-color: rgba(255, 255, 255, 0.644);
}

nav ul.right form{
    background-color: rgba(255, 255, 255, 0.644);
    display: none;
}

nav ul.right form.show{
    display: inline-block;
}

nav .search-icon{
    display:none;
}
nav .search-icon.show{
    display: inline-block;
}

.nav__toggler{
    display:none;
}

@media only screen and (max-width:705px){

    .nav__toggler{
        display:inline-block;
        font-size: 30px;
        color:white;
        background-color: crimson;
        border-radius: 10px;
    }
    nav{
        background-color: #000;
        padding:10px;
        flex-direction: row;
    }
    nav ul{
        margin:0;
        padding:2px;
        float: left;
    }
    nav ul li{
        display: block;
    }
    
    .navLink{
        display: none;
    }

    .navLink.show{
        display: block;
    }

    .netflix-logo{
        margin:0;
        display: none;
    }

    nav ul.right form input[type="text"]{
        width:100px;
    }
}